{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/web.css'%}" type="text/css">
</head>
<body>
    <h1>Список задач</h1>

    {% for post in posts %}
        <div class="list">
            <p> {{post.content}} </p>
            <a href = 'edit/{{post.id}}'>Изменить</a>
            <a href = 'delete/{{post.id}}'>Удалить</a>
        </div>
    {% endfor %}
    <div class="add">
        <form method="POST" action="create/">
            {% csrf_token %}
            <label>Введите задачу: </label>
            <input type="text" name="todo"/>
            <input type="submit" value="Добавить">
        </form>
    </div>

</body>
</html>